* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  background-image: url("nature-bw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* font-family: "Bebas Neue", cursive; */
  font-family: 'Mukta', sans-serif;
  color: #fff;
  overflow: hidden;
  /* border: 3px solid limegreen;
  background-color: red; */
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-auto-flow: row; */
  vertical-align: middle;
  line-height: 1.5;
  /* margin: 2% auto; */
  /* padding: 1%; */
  justify-content: center;
  align-content: space-between;
  /* grid-template-columns: auto auto auto; */
  /* border: 3px solid limegreen;
  background-color: purple; */
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  line-height: 1.2;
  font-size: 4rem;
  text-shadow: 1px 1px 2px #222
}

p {
  font-size: 1rem;
}

.lookup {
  /* margin: 1rem auto; */
  /* padding: 24px 32px 16px 8px; */
  padding-top: 32px;
  text-align: center;
  border: 16px;
  border-right-width: 24px;
}

input[type="text"] {
  height: 40px;
  border: 2px solid #EA9D04;
  border-radius: 4px;
  text-indent: 1rem;
  outline: none;
}

input[type="submit"] {
  margin: 2rem auto;
  background-color: #FF931E;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8rem;
  padding: 0.5% 1.5%;
  cursor: pointer;
  color: #fff;
  border-radius: 7px;
}

.home-button {
  background-color: #FF931E;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8rem;
  padding: 0.5% 1.5%;
  cursor: pointer;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
}

.result {
  /* position: relative; */
  text-align: center;
  /* justify-content: center; */
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 2px #222
  /* border: 3px solid black;
  background-color: blue; */
}

.result-format {
  width: 50%;
  padding: 5%;
  margin: 1rem auto;
  text-shadow: none;
  background-color: #ecf0f1;
  border: 1px solid #34495e;
  color: #2c3e50;
}


/* FLASH MESSAGE STYLING */

.flash {
  /* display: inline-block; */
  margin: 1rem auto;
  padding: 0.5%;
  /* width: fit-content; */
  width: 50%;
  text-shadow: none;
}

.flash-success {
  background: #00E676;
  border: 2px solid #388E3C;
  color: #388E3C;
}

.flash-alert {
  border: 2px solid #EB9D04;
  background: #FFEA00;
  color: #EB9D04;
}


/* OWL */

.owl-container {
  position: relative;
  margin: 0 auto;
  height: 70vh;
  width: 35vw;
  background-image: url("owl.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 3px solid limegreen;
  background-color: purple; */
}

.eyes-container {
  display: flex;
  justify-content: center;
}

.eyes-container .eyes {
  position: relative;
  /* top: 20%; */
  /* width: 6.25rem; */
  right: 0.25rem;
  width: 12.5rem;
  /* height: 6.25rem; */
  height: 12.5rem;
  display: block;
  background-color: #fff;
  /* margin: 0 1.25rem; */
  margin: 6.5rem 1.375rem;
  /* margin: 0 4.575rem; */
  border-radius: 100%;
  /* border-radius: 100%; */
  /* box-shadow: 0 0.313rem 2.813rem rgba(0, 0, 0, 0.2), inset 0 0 0.938rem #f5af19, inset 0 0 1.563rem #f5af19; */
  box-shadow: 0 0.626rem 5.626rem rgba(0, 0, 0, 0.2), inset 0 0 1.876rem #f5af19, inset 0 0 3.126rem #f5af19;
}

.eyes-container .eyes::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  /* Pupil and iris position */
  top: 50%;
  /* left: 2.188rem; */
  left: 4.376rem;
  
  transform: translate(-50%, -50%);
  /* width: 3.125rem; */
  width: 6.25rem;
  /* height: 3.125rem; */
  height: 6.25rem;
  /* border: 0.625rem solid skyblue; */
  border: 1.25rem solid skyblue;
  border-radius: 100%;
  /* border-radius: 100%; */
  background: #000;
}
