<h1>Hoois Lookup</h1>
<%= form_tag lookup_path, class: "lookup-form", method: :get do %>
  <%= text_field_tag(:lookup, "", :autocomplete => :off, autofocus: true, class: "lookup-field", size: 100, maxlength: 255, :placeholder => "Enter a domain or URL (e.g. worldbirds.com or https://worldbirds.com/)") %>
  <div>
    <%= submit_tag("HOOIS", name: "", class: "submit-button") %>
  </div>
<% end %>


<div class="owl-container">
  <div class="eyes-container">
    <div class="eyes"></div>
    <div class="eyes"></div>
  </div>
</div>
