<div class="result">
  <%= render "layouts/flash" %>
  <div>
    <%= button_to "New Hoois Lookup", homepage_path, class: "home-button", method: :get %>
  </div>
  <div class="result-format">
    <p><%= @result if @result.present? %></p>
  </div>
</div>